<h1>My Todo App</h1>

<div class="alert alert-success d-flex" *ngIf='message'>
  {{message}}
  <button class="btn btn-sm btn-outline-dark ml-auto" (click)="message=null">Close</button>

</div>

<div class="container">
  <table class="table">
    <caption> My todo's</caption>
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <!-- <td>{{todo.targetDate | date }}</td> -->
        <td>{{todo.targetDate | date}}</td>
        <td>{{todo.done}}</td>
        <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Edit</button></td>
        <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>

  <!-- This is only a test. -->
  <ng-container *ngIf="methodName('parameters') as respObject">
    {{respObject.name}}
  </ng-container>
  <!-- This is only a test. -->
</div>
